body {
  padding: 0;
  margin: 0;
  background-image: url("../images/bg-image.jpg");
  background-size: cover;
}

/* Barre de Navigation  */
nav {
  display: flex;
  align-content: center;
  height: 10vh;
  background-color: #223024a6;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

nav ul li {
  list-style: none;
  margin: auto;
}

nav ul li a {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 0.5rem 0.8rem;
  border: 1px solid grey;
  background-color: white;
  box-shadow: 1px 2px 1px grey;
}

nav ul li a:hover {
  background-color: grey;
  color: white;
  box-shadow: 1px 2px 1px white;
}

body a, input {
  text-decoration: none;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 1px 2px 2px 1px #5e5c5c;
  width: 150px;
  text-align: center;
  color: blue;
}

body a:hover , input:hover{
  color: white;
  background-color: #5e5c5c;
  box-shadow: 1px 2px 2px 1px white;
}

h1 {
  width: 100%;
  text-align: center;
  background-color: white;
  color: #0e3669;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#mainPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: auto;
}

#mainPage h2 {
  background-color: white;
  color: #966917;
  padding: 0.5rem;
}

#bugs-Bunny {
  background-image: url('../images/bugs-bunny.webp');
  background-size: contain;
  width: 100%;
  height: 50vh;
}

#looneyTunes {
  position: absolute;
  bottom: 450px;
  background-image: url("../images/looneyTunes.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  animation: image 5s infinite;
}

@keyframes image {
  0% { transform: rotate(0deg) translate(-50%, -50%); }
  100% { transform: rotate(360deg) translate(-50%); }
}

#box-listPatients {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
}

.listOfpatients, .content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid black;
  background-color: #ffffffda;
  width: 25%;
  align-items: center;
}

.content {
  margin: auto;
}

.editDate {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#box-appments, #box-listAppments, #box-addPatients, #box-editDate {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#box-listAppments, #box-addDate, #box-addPatients {
  align-items: center;
}

.appointments {
  display: flex;
  width: 20%;
}

.infosBDD {
  color: brown;
}

/* // Messages d'erreurs */
.errorsMsg {
  color: red;
}

/* // Message de succès */
.success {
  color: green;
}

#pages {
  display: flex;
  justify-content: center;
}

#pages a {
  margin: 1rem;
}

footer {
  width: 100%;
  background-color: lightblue;
  text-align: center;
}
